<form class="form">
	<h4>POLICY DETAILS</h4>
	<div class=" form-row">
		<div class="form-group col-md-6">
            <label for="familyName"><b>Family Name</b></label>
              <input type="text" class="form-control" id="familyName" ngModel name="familyName">
            	</div>
	</div>
	<hr />
	<h4>Policy Information</h4>
		<div class=" form-row">
		<div class="form-group col-md-6">
            <label for="controlNumber"><b>Control Number</b></label><div class="asterisk">*</div>
              <input type="text" class="form-control" id="controlNumber" ngModel name="controlNumber" required>
            	</div>
         <div class="form-group col-md-6">
            <label for="controlName"><b>Control Name</b></label><div class="asterisk">*</div>
              <input type="text" class="form-control" id="controlName" ngModel name="controlName" required>
            	</div>
	</div>
	<label for="description"><b>Description</b></label>
	<div class=" form-row">
		<div class="form-group col-md-6">
            <label for="policyValue"><b>Policy Value</b></label><div class="asterisk">*</div>
              <input type="text" class="form-control" id="policyValue" ngModel name="policyValue" required>
            	</div>
         <div class="form-group col-md-6">
            <label for="procedures"><b>Procedures</b></label><div class="asterisk">*</div>
            	</div>
         <div class="form-group col-md-6">
            <label for="guidelines"><b>Guidelines</b></label>
            	</div>
         <div class="form-group col-md-6">
            <label for="priority"><b>Priority</b></label><div class="asterisk">*</div>
            <select class="form-control" id="priority">
		                <option>High</option>
		              </select>
            	</div>
         <div class="form-group col-md-6">
            <label for="policyAndProcedure"><b>Control Number (Policy and Procedure)</b></label>
              <input type="text" class="form-control" id="policyAndProcedure">
            	</div>
         <div class="form-group col-md-6">
            <label for="informationSystemDesignDocument"><b>Information system design document</b></label>
              <input type="text" class="form-control" id="informationSystemDesignDocument">
            	</div>
         <div class="form-group col-md-6">
            <label for="securityPlan"><b>Security Plan</b></label>
              <input type="text" class="form-control" id="securityPlan">
            	</div>
         <div class="form-group col-md-6">
            <label for="informationSystemConfigurationSettings"><b>Information System Configuration Settings</b></label>
              <input type="text" class="form-control" id="informationSystemConfigurationSettings">
            	</div>
         <div class="form-group col-md-6">
            <label for="configurationBaseline"><b>Configuration Baseline</b></label>
              <input type="text" class="form-control" id="configurationBaseline">
            	</div>
         <div class="form-group col-md-6">
            <label for="auditRecords"><b>Audit Records</b></label>
              <input type="text" class="form-control" id="auditRecords">
            	</div>
	</div>
	<hr />
	<h4>Artifacts</h4>
	<hr />
	<h4>Non-COV</h4>
	<hr />
	<h4>Policy Links</h4>
	<div class="form-row">
		<div class="form-group col-md-6">
            <label for="internalPolicyLinks"><b>Internal Policy Links</b></label>
              <input type="text" class="form-control" id="internalPolicyLiks">
            	</div>
         <div class="form-group col-md-6">
            <label for="externalPolicyLinks"><b>External Policy Links</b></label>
              <input type="text" class="form-control" id="externalPolicyLinks">
            	</div>
        <div class="form-group col-md-6">
            <label for="assignTo"><b>Assign To</b></label>
              <input type="text" class="form-control" id="assignTo">
            	</div>
         <div class="form-group col-md-6">
            <label for="endDate"><b>End Date</b></label>
              <my-date-picker name="myname"></my-date-picker>
            	</div>
         <div class="form-group col-md-6">
         	<label for="status"><b>Status</b></label>
            <select class="form-control" id="status">
		                <option>Open</option>
		              </select>
         </div>
	</div>
	<hr />
	<h4>Documents</h4>
</form>
