<div class="form-div">
    <div class="head">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link disabled">Information </a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover" routerLink="/locality/option">Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/option/business">Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/option/form2">Assessment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/option/form2">Audit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/option/form2">Security</a>
            </li>
        </ul>
    </div>
    <router-outlet> </router-outlet>
</div>