<div class="form-div">
    <div class="head">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/locality/option"> <i class="fa fa-info-circle"></i>Information </a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover" routerLink="/locality/option/solutions"><i class="fa fa-info-circle"></i>Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/option/business"><i class="fa fa-building-o"></i>Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/option/form2">Assessment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/option/form2">Audit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/option/form2">Security</a>
            </li>
        </ul>
    </div>
    <router-outlet> </router-outlet>
</div>