<div class="form-div">
    <div class="head">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/locality/tab/info/{{loc}}"> <i class="fa fa-info-circle"></i>Information </a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover" routerLink="/locality/tab/solutions"><i class="fa fa-info-circle"></i>Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link "  routerLink="/locality/tab/legal"><i class="fa fa-info-circle"></i>Legal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/tab/Audit"><i class="fa fa-bell"></i>Audit/Compliance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ">Assessment</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link " routerLink="/locality/tab/security">Security</a>
            </li>
             <li class="nav-item">
                <a class="nav-link ">Technical</a>
            </li>
             <li class="nav-item">
              <a class="nav-link "  routerLink="/locality/tab/business"><i class="fa fa-building-o"></i>Business</a> 
            </li>
        </ul>
    </div>
  <router-outlet></router-outlet>
</div>