<div class="documents">
				<span><b>DOCUMENTS</b></span>
				<!-- <div class="policy-edit"><fa class="edit-icon icons" (click)="" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true" data-delay="0" [name]="'plus'"></fa></div>
			<hr />
 -->			</div>
<div class="installation form-group">
            <label class="hosting-notes" for="policyResources"><b>Policy Resources</b></label><!-- <div class="asterisk-inline asterisk">*</div> -->
            <textarea cols="156" rows="7" id="Policy Resources" ngModel name="policyResurces" required></textarea>
          </div>