
<div class="plus">

	<i class="fa fa-edit" ng-reflect-ng-class="fa,fa-edit" (click)="selectLocality()"></i>

</div>



<form class="former clear-right" (ngSubmit)="createLocality()" enctype="multipart/form-data">

	

		<div class="tip">
			<p class="tip-text">
				<fa class="light-bulb" [name]="'lightbulb-o'"></fa>
				Tip:
			</p>
		</div>
		<p>
			<b>General Information</b>
		</p>
		<div class="form-row">
			<div class="form-group col-md-6">

				<label for="inputState">Last Updated by</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control"  >
			</div>
			<div class="form-group col-md-6">
				<label for="lastName">Updated at</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="updatedTime" [(ngModel)] = "updatedTime">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">

				<label for="inputState">Locality Name</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="acronym" [(ngModel)] = "locality.acronym">
			</div>
			<div class="form-group col-md-6">

				<label for="inputState">Locality Code</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="localityCd" [(ngModel)] = "locality.localityCd">
			</div>

		</div>
		<div class="form-row">

			<div class="form-group col-md-6">
				<label for="lastName">FIPS Code</label> <input type="text"
					class="form-control" name="fipsCd" [(ngModel)] = "locality.fipsCd">

			</div>
		</div>
	
		<p>
			<b>Contact Information</b>
		</p>
		<div class="form-row">
			<div class="form-group col-md-6">

				<label for="inputState">First Name</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="firstName" [(ngModel)] = "locality.firstName">
			</div>
			<div class="form-group col-md-6">
				<label for="lastName">Last Name</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="lastName" [(ngModel)] = "locality.lastName">
			</div>
		</div>



		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="lastName">Email Id</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="emailId" [(ngModel)] = "locality.emailId">
			</div>
			<div class="form-group col-md-6">

				<label for="email">Phone No</label>
				<div class="asterisk">*</div>
				<input type="email" class="form-control"  name="phoneNumber" [(ngModel)] = "locality.phoneNumber">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="lastName">Website Address</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="websiteAdd" [(ngModel)] = "locality.website">
			</div>
			<div class="form-group col-md-6">
				<label for="email">Veris Id</label>
				<div class="asterisk">*</div>
				<input type="email" class="form-control" name="verisId" [(ngModel)] = "locality.verisId">
			</div>

		</div>
		<hr />
		<p>
			<b>Other Information</b>
		</p>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="lastName">Central Absentee Perceived(CAP)</label>
				<div class="asterisk">*</div>
				<input type="radio" required [value]="true" name="capInd" [(ngModel)]="locality.capInd" [checked]="locality.capInd">Yes<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
					type="radio" [value]="false" name="capInd" [(ngModel)] = "locality.capInd"  [checked]="locality.capInd"> No
			</div>
			<div class="form-group col-md-6">
				<label for="email">Bail out</label>
				<div class="asterisk">*</div>
				<input type="radio"   [value]="true" name="bailoutInd" [(ngModel)] = "locality.bailoutInd" [checked]="locality.bailoutInd">Yes<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
					type="radio"  [value]="false" name="bailoutInd" [(ngModel)] = "locality.bailoutInd" [checked]="locality.bailoutInd"> No
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="lastName">Automate COMET/Penality</label>
				<div class="asterisk">*</div>
				<input type="text" class="form-control" name="penality" [(ngModel)] = "locality.penality">
			</div>

		</div>
		<hr />

		<div class="form-row">

			<div class="form-group col-md-6">

				<p>
					<b>Hours of operation</b>
				</p>
				
				 <table class="table table-striped table-hover table-bordere">
        <thead>
           <tr>
							<th scope="col">Day</th>
							<th scope="col">Time</th>
						</tr>
        </thead>
       <tbody>
						<tr>
							<th>Monday</th>
							<td><label for="appt-time">Time</label> <input type="time"
								id="appt-time" name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /> To <label
								for="appt-time"></label> <input type="time" id="appt-time"
								name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /></td>


						</tr>
						<tr>
							<th>Tuesday</th>
							<td><label for="appt-time">Time</label> <input type="time"
								id="appt-time" name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /> To <label
								for="appt-time"></label> <input type="time" id="appt-time"
								name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /></td>




						</tr>
						<tr>
							<th>Wednesday</th>
							<td><label for="appt-time">Time</label> <input type="time"
								id="appt-time" name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /> To <label
								for="appt-time"></label> <input type="time" id="appt-time"
								name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /></td>



						</tr>
						<tr>
							<th>Thursday</th>
							<td><label for="appt-time">Time</label> <input type="time"
								id="appt-time" name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /> To <label
								for="appt-time"></label> <input type="time" id="appt-time"
								name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /></td>



						</tr>
						<tr>
							<th>Friday</th>
							<td><label for="appt-time">Time</label> <input type="time"
								id="appt-time" name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /> To <label
								for="appt-time"></label> <input type="time" id="appt-time"
								name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /></td>



						</tr>
						<tr>
							<th>Saturday</th>
							<td><label for="appt-time">Time</label> <input type="time"
								id="appt-time" name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /> To <label
								for="appt-time"></label> <input type="time" id="appt-time"
								name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /></td>



						</tr>
						<tr>
							<th>Sunday</th>
							<td><label for="appt-time">Time</label> <input type="time"
								id="appt-time" name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /> To <label
								for="appt-time"></label> <input type="time" id="appt-time"
								name="appt-time" min="9:00" max="18:00" required
								(input)="time = $event.target.value" /></td>



						</tr>
					</tbody>
    </table>
				<!-- <button type="submit" class="btn btn-primary" (click)="setTime()">Submit</button> -->
			</div>
		</div>


		<hr />
		<p>
			<b>Region</b>
		</p>
		<div class="form-row">

			<div class="form-group col-md-6">


				<input type="radio"  value="true" name="vebaRegion" [(ngModel)] = "locality.vebaRegion">VEBA region<br>
				<input type="radio" value="false" name="vravRegion" [(ngModel)] = "locality.vravRegion">VRAV region
			</div>



		</div>
		<hr />
		<p>
			<b>PollBook</b>
		</p>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="lastName">Paper PollBook</label>
				<div class="asterisk">*</div>
				<input type="radio" name="paperPollbook" value="true" [(ngModel)] = "locality.paperPollbook">Yes<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
					type="radio" name="paperPollbook"  value="false" [(ngModel)] = "locality.paperPollbook"> No
			</div>
			<div class="form-group col-md-6">
				<label for="email">Electronic PollBook</label>
				<div class="asterisk">*</div>
				<input type="radio" name="electronicPollbook" value="true" [(ngModel)] = "locality.electronicPollbook">Yes<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
					type="radio" name="electronicPollbook" value="false" [(ngModel)] = "locality.electronicPollbook"> No
			</div>
</div>

			<hr />
		
         <p><b>Notes</b></p>
         <textarea name="" id="" rows="10" class="form-control" name="notes" [(ngModel)] = "locality.notes"></textarea>
         <div class="buttons">
      
        	<button type="submit" class="submit btn btn-primary" >Submit</button>
        	<button type="cancel" class="cancel btn btn-primary">Cancel</button>
        </div>
		


	</form>