

<div class="plus">
   
        <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size: 24px;" (click)="selectLocality()"></i>
   
</div>

<form class="form" [formGroup]="invoiceForm">
<p><b>APPLICATION SOLUTION</b></p>
<div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">System Type</label>
                
                <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>EVS</option>
              <option>EPB</option>
          </select>
            </div>
           </div>
           <div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">Model/Solution</label>
                
                <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>EVS</option>
              <option>EPB</option>
          </select>
            </div>
           </div>
            <div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">Equipment Type</label>
                <input type="text" class="form-control" id="lastName" value="Value">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Vendor</label>
                <input type="text" class="form-control" id="lastName" value="Value">
            </div>
           </div>
           <hr/>
           <div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">Hoisting Type</label>
                <input type="text" class="form-control" id="lastName" value="Value">
            </div>
            </div>
            <div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">No of Units</label>
                <input type="number" class="form-control" id="lastName" value="Value" (input)="onUnitsChange($event.target.value)">
            </div>
            </div>
            <hr/>
  <table formArrayName="itemRows" *ngIf="invoiceForm.controls.itemRows.controls.length > 0" class="table table-bordered">
            <!-- Check the correct way to iterate your form array -->
            <thead>
                <tr>
                    <th>Model #</th>
                    <th>Serial #</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
                    <td><input type='text' class="form-control" formControlName="one"></td>
                    <td><input type='text' class="form-control" formControlName="two"></td>
                </tr>
            </tbody>
        </table>
</form>