<form class="form">
<p><b>APPLICATION SOLUTION</b></p>
<div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">System Type</label>
                
                <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>EVS</option>
              <option>EPB</option>
          </select>
            </div>
           </div>
           <div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">Model/Solution</label>
                
                <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>EVS</option>
              <option>EPB</option>
          </select>
            </div>
           </div>
            <div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">Equipment Type</label>
                <input type="text" class="form-control" id="lastName" value="Value">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Vendor</label>
                <input type="text" class="form-control" id="lastName" value="Value">
            </div>
           </div>
           <hr/>
           <div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">Hoisting Type</label>
                <input type="text" class="form-control" id="lastName" value="Value">
            </div>
            </div>
            <div class="form-row">
             <div class="form-group col-md-6">
                <label for="lastName">No of Units</label>
                <input type="number" class="form-control" id="lastName" value="Value">
            </div>
            </div>
            <hr/>
 <table class="table table-striped table-hover table-border">
  <thead>
    <tr>
     
      <th scope="col">Model#</th>
      <th scope="col">Serial#</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
    <th><a routerLink="/locality/option/link">1</a></th>
      <td>Mark</td>
    
      
    </tr>
    <tr>
       <th> <a routerLink="/locality/option">1</a></th>
      <td>Jacob</td>
     
      
    </tr>
    <tr>
       <th> <a routerLink="/locality/option">1</a></th>
      <td>Larry</td>
      
      
    </tr>
  </tbody>
</table>
</form>