<div class="review">
				<span><b>POLICY REVIEWER(S)</b></span>
				<div class="policy-edit"><fa class="edit-icon icons" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true" data-delay="0" [name]="'edit'"></fa></div>
			<hr />
			</div>
<table class="table table-bordered table-dark">
	<thead>
		    <tr>
		      <th scope="col">Policy Name</th>
		      <th scope="col">Assigned To</th>
		      <th scope="col">Assigned On</th>
		      <th scope="col">Due Date</th>
		      <th scope="col">Status</th>
		      <th scope="col">Notify</th>
		    </tr>
		  </thead>
</table>