<div class="review">
				<span><b>POLICY REVIEWER(S)</b></span>
				<div class="policy-edit"><fa class="edit-icon icons" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true" data-delay="0" [name]="'edit'"></fa></div>
			<hr />
			</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ADDING POLICY REVIEWR(S)</h4>
   
  </div>
  <hr />
  <div class="modal-body">
    <form>
      	<div class="form-row">
            <div class="form-group col-12">
                <label for="vendorName"><b>Search User</b></label>
                <div class="asterisk">*</div>
                <input type="text" class="form-control" id="vendorName" placeholder="Search Users" formControlName="name">
            </div>
            <div class="form-group col-12">
            	<label for="dueDate"><b>Renewal Due Date</b></label>
                <my-date-picker name="myname"></my-date-picker>
            </div>
       
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>
<table class="table table-bordered table-dark">
	<thead>
		    <tr>
		      <th scope="col">Policy Name</th>
		      <th scope="col">Assigned To</th>
		      <th scope="col">Assigned On</th>
		      <th scope="col">Due Date</th>
		      <th scope="col">Status</th>
		      <th scope="col">Notify</th>
		    </tr>
		  </thead>
</table>