<form class="forms">
	<div class="form-row">
		<div class="form-group col-md-6">
			<label class="label-form" for="policyEntity"><b>Policy Entity</b></label><div class="asterisk">*</div>
              <select class="form-control" id="policyEntity" required (change)="policy($event.target.value)">
                <option selected>Choose...</option>
                <option value="VITA">VITA</option>
              </select>
		</div>
	</div>
</form>
<div class="policy-add" *ngIf="policyEntity ==='VITA'">
	<div class="forms">
		<div class="form-row">
			<div class="installation form-group">
			<label for="policyName"><b>Policy Name</b></label><div class="asterisk">*</div>
            <input type="text" class="asterisk form-control" id="policyName" required>
            <label class="hosting-notes" for="policyDescription"><b>Policy Description</b></label><!-- <div class="asterisk-inline asterisk">*</div> -->
            <textarea cols="156" rows="7" id="policyDescription" required></textarea>
          </div>
		</div>
	<div class="buttons">
         	<button type="cancel" class="cancel btn btn-primary">Cancel</button>
        	<button type="submit" class="submit btn btn-primary" ng-disabled="form.$invalid">Submit</button>
        </div>
	</div>
</div>

