<div class="form-div">    <form class="former">    
       
             <div class="form-row">
            <div class="form-group col-md-6">

                <label for="inputState">Audit Attachments</label>
               
                
            </div>
            
            </div>
             <div class="col-sm-5 col-md-5 col-lg-5">
							<label class="input"> <input type="file" file-model="attachment" data-btn-text="Select a File"  accept=".pdf,.doc,.docx">

							</label>
						</div>
						
            </form>
            </div>