<div class="form-div">    <form class="former">    
        <div class="form-row">
            <div class="form-group col-md-6">

                <label for="inputState">Definitive Source</label>
                <div class="asterisk">*</div>
               <select id="modelSolution" class="form-control">
            <option selected></option>
            <option>---Select---</option>
              <option>VITA</option>
          </select>
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Type/Policy</label>
                 <div class="asterisk">*</div>
                <select id="modelSolution" class="form-control">
            <option selected></option>
            <option></option>
              <option>IT Information Security Standard(SEC501-09.1)</option>
          </select>
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Audit type</label>
                <div class="asterisk">*</div>
                <input type="text" class="form-control" id="lastName" value="Value">
            </div>
          
             <div class="form-group col-md-6">
                <label for="lastName">Audit Date</label>
                <div class="asterisk">*</div>
                <input type="text" class="form-control" id="lastName" value="Value">
            </div>
       



        
            <div class="form-group col-md-6">
                <label for="email">Next Date</label>
                <div class="asterisk">*</div>
                    <input type="email" class="form-control" id="email" value="Value">
            </div>
             <div class="form-group col-md-6">

                <label for="inputState">Overall Status</label>
                <div class="asterisk">*</div>
               <select id="modelSolution" class="form-control">
            <option selected></option>
            <option>Open</option>
              <option>Suspended</option>
              <option>Close</option>
          </select>
            </div>
        </div>
        
        
        </form>